
 header {
    grid-area: a;
    background-color: #F00;
    padding: 0.2em;
    margin-bottom: 0.5em;
}   
    






@media screen and (min-width: 500px){
    #pagewrap {
        display: grid;
        grid-gap: 0 0.5em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 4fr 3fr 4fr;
        grid-template-areas: 
            "a a a"
            "b c d"
            "f e e"
            "f g g"
            "h h h";
        
        
    }



